//SF PRO DISPLAY
@font-face {
  font-family: SF Pro;
  src: url(../assets/fonts/SFPRODISPLAYREGULAR.OTF);
  font-weight: 400;
}
@font-face {
  font-family: SF Pro;
  src: url(../assets/fonts/SFPRODISPLAYMEDIUM.OTF);
  font-weight: 500;
}
@font-face {
  font-family: SF Pro;
  src: url(../assets/fonts/SFPRODISPLAYBOLD.OTF);
  font-weight: 700;
}

//Mont
@font-face {
  font-family: Mont;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Mont;
  src: url(../assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Mont;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}